*{
    margin: none;/*sem margem*/
    
}


body {
    background-color: rgb(232, 238, 243);/*cor*/
    height: 100%;/*altura*/
    margin: 0;/*margem*/
    padding: 0;/*preenchimento*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ;/*fonte*/
    max-width: auto;
max-height: auto;
margin: auto;
 
}
header {
    background-color: cornflowerblue;/*cor*/
    margin: none;/*sem margem*/
    height: 50px;/*altura*/
}

#logo_inep {
        width: 100px;/*largura*/
        -webkit-user-drag: none ;/* suporte automático, para que a imagem não seja manipulada*/
}
.botao_inicio {
        background-color: cornflowerblue;/*cor*/
        width: 100px;/*largura*/
        height: 50px;/*altura*/
        -webkit-user-drag: none;/* suporte automático, para que a imagem não seja manipulada*/
        text-align: center;/*texto centralizado*/
        margin-bottom: 20px;/*margem do botão*/
        padding-bottom: 10px;/*margem interna do botão*/
        font-size: 20px;/*tamanho da fonte*/
        vertical-align: top;/*colocar o objeto na vertical no topo*/
        font-family: 'Times New Roman', Times, serif;/*fonte*/
        border: none;/*borda*/
        color: white;/*cor*/
}
.botao_sobre {
        background-color: cornflowerblue;/*cor*/
        width: 100px;/*largura*/
        height: 50px;/*altura*/
        -webkit-user-drag: none;/* suporte automático, para que a imagem não seja manipulada*/
        text-align: center;/*texto centralizado*/
        margin-bottom: 20px;/*margem do botão*/
        padding-bottom: 10px;/*margem interna do botão*/
        font-size: 20px;/*tamanho da fonte*/
        position:-ms-page;/*posição*/
        vertical-align: top;/*colocar o objeto na vertical no topo*/
        font-family: 'Times New Roman', Times, serif;/*fonte*/
        border: none;/*borda*/
        color: white;/*cor*/
}
.botao_simulado {
        background-color: cornflowerblue;/*cor*/
        width: 250px;/*largura*/
        height: 50px;/*altura*/
        -webkit-user-drag: none;/* suporte automático, para que a imagem não seja manipulada*/
        text-align: center;/*texto centralizado*/
        margin-bottom: 20px;/*margem do botão*/
        padding-bottom: 10px;/*margem interna do botão*/
        font-size: 20px;/*tamanho da fonte*/
        position:-ms-page;/*posição*/
        vertical-align: top;/*colocar o objeto na vertical no topo*/
        font-family: 'Times New Roman', Times, serif;/*fonte*/
        border: none;/*borda*/
        color: white;/*cor*/
}
.botao_simulado:hover {
        background-color: rgb(161, 174, 216);/*cor*/
}
.botao_creditos {
        background-color: cornflowerblue;/*cor*/
        width: 100px;/*largura*/
        height: 50px;/*altura*/
        -webkit-user-drag: none;/* suporte automático, para que a imagem não seja manipulada*/
        text-align: center;/*texto centralizado*/
        margin-bottom: 20px;/*margem do botão*/
        padding-bottom: 10px;/*margem interna do botão*/
        font-size: 20px;/*tamanho da fonte*/
        position:-ms-page;/*posição*/
        vertical-align: top;/*colocar o objeto na vertical no topo*/
        font-family: 'Times New Roman', Times, serif;/*fonte*/
        border: none;/*borda*/
        color: white;/*cor*/
}
.botao_inicio:hover {
        background-color: rgb(161, 174, 216);/*cor*/
}
.botao_sobre:hover {
        background-color: rgb(161, 174, 216);/*cor*/
}
.botao_creditos:hover {
        background-color: rgb(161, 174, 216);/*cor*/
}

h1{
        text-align: center;/*texto centralizado*/
        font-family: 'Times New Roman', Times, serif;/*fonte*/
        font-size: 35px;/*tamanho da fonte*/
        line-height: 0%; /* o titulo estava dando um espaço da nav, então eu tirei a altura da linha*/
        margin-top: 70px;/*margem superior*/
}
.titulo_inst {
        background-color: cornflowerblue;/*cor*/
        width: 250px;/*largura*/
        margin: auto;/*margem*/
        padding: 8px;/*preenchimento*/
       font-size: 20px;/*tamanho da fonte*/
       text-align: center;/*texto centralizado*/
       border-radius: 00px 0px 20px 20px;/*raio da borda*/
  
}
.instrucoes {
    text-align: justify;/*alinhamento do texto*/
    margin-top: 50px;/*margem superior*/
    font-size: 22px;/*tamanho da fonte*/
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;/*fonte*/
    background-color: white;/*cor*/
    border-radius: 15px;/*raio da borda*/
    padding: 25px;/*preenchimento*/
    margin-left: 180px;/*margem esquerda*/
    margin-right: 180px;/*margem direita*/
    height: 2200px;/*altura*/
    
}
#print1{
        height: 300px;/*altura*/
        margin-left: 150px;/*margem esquerda*/
}
#print2{
        height: 300px;/*altura*/
        margin-left: 150px;/*margem esquerda*/
}
#print3{
        height: 300px;/*altura*/
        margin-left: 150px;/*margem esquerda*/
}
#print4{
        height: 300px;/*altura*/
        margin-left: 150px;/*margem esquerda*/
}
#bs{
        text-align: center;/*texto centralizado*/
}
.botao_iniciar {
    padding: 25px;/*preenchimento*/
  background-color: cornflowerblue;/*cor*/
  color: white;/*cor*/
  border-radius: 10px;/*raio da borda*/
  border-color: black;/*cor da borda*/
  font-size: 25px;/*tamanho da fonte*/
  width: 280px;/*largura*/
  margin-top: 55px;/*margem superior*/
  margin-left: 550px;/*margem esquerda*/
  text-align: center;/*texto centralizado*/
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;/*fonte*/

}
.botao_iniciar:hover{
    background-color: rgb(161, 174, 216);/*cor*/
}


.sc_butn{
        font-family: 'Times New Roman', Times, serif;/*fonte*/
        text-align: center;/*texto centralizado*/
        margin-top: 70px ;/*margem superior*/
        font-size: 17px;/*tamanho da fonte*/
        line-height: 50px;/*altura da linha*/
        background-color:cornflowerblue;/*cor*/
        width: 100%;/*largura*/
        height: 0px;/*altura*/
      
       
}

.sc{
        padding: 10px;/*preenchimento*/
        color: rgb(15, 15, 15);/*cor*/
        font-size: 20px;/*tamanho da fonte*/
        width: 120px;/*largura*/
        margin-top: 30px;/*margem superior*/
    
        
        text-align: center;/*alinhamento do texto*/
        font-family:'Times New Roman', Times, serif/*fonte*/
}

#logo_fatec{
        text-align: center;/*alinhamento do texto*/
        margin-right: 80px;
        margin-top: 15px;/*margem superior*/
        height: 80px;
        vertical-align: top;
        text-decoration: none;
}

#logo_cps{
        height: 90px;
        margin-top: 10px;/*margem superior*/
        margin-right: 90px;
        text-align: center;
        text-decoration: none;
}

#rod_inep{
        height: 60px;
        margin-top: 15px;/*margem superior*/
        margin-right: 50px;
        vertical-align: top;
}

#logo_ads{
        height: 95px;
        margin-top: 15px;/*margem superior*/
        margin-right: 70px;
     vertical-align: top;
     text-decoration: none;
}
     footer {
        background-color: cornflowerblue;/*cor*/
        margin: none;/*sem margem*/
        height: 160px;/*altura*/
       
        font-family: 'Times New Roman', Times, serif;/*fonte*/
        text-align: center;/*texto centralizado*/
        font-size: 13px;/*tamanho da fonte*/
       
        }
        #cs{
            color:rgb(14, 32, 134);/*cor*/
        }
        footer a {
            color: black;/*cor*/
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;/*fonte*/
        
        }


/* flex-shrink: 0;
    bottom:0;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
Códigos para manter o footer no fim da pagina, caso necessário*/   
